/* --- all --- */ 

*{
    margin: 0;
    box-sizing: border-box;
}

/* --- sky --- */ 

.scene { 
    position: relative;
    width: 100%;
    height: 100vh; 
    overflow: hidden;
}

/* --- background --- */ 

.sky{
    position: absolute;
    inset: 0;
    background: #0B486B;
    background: linear-gradient(
        to top,
        #0B486B,#F56217
    );
}

/* --- sun --- */ 
.sun{
    position:absolute;
    left: 75%;
    top: 10%;
    width: 200px;
    height: 200px;
    
    border-radius: 50%;
    background: radial-gradient(
    circle at 30% 30%, 
    #FA8607,  
    #FCB033,
    #FECC51
  );
}

/* --- buildings  --- */ 
.buildings {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: flex-start;  /* no automatic equal spacing */
    align-items: flex-end;
    padding: 0 2vw;
    z-index: 3;
  }

  .buildings > div {
    position: relative;
    width: 100px;
    background: linear-gradient(to top, #2a2e35, #96754a); /* steel gray, not black */
    border: 2px solid #1e1e1e;
    box-shadow: 0 4px 10px rgba(0,0,0,0.4);
  }
  .building-top {
    position: absolute;
    left: 0;
    bottom: 100%;       /* sit exactly on top edge */
    width: 100%;
    height: 84px;
    background: linear-gradient(to top, #ab834d, #c2c9d0);
    clip-path: polygon(50% 0%, 100% 100%, 0% 100%);
  }

  .building-top::after {
    content: "";
    position: absolute; left: 0; bottom: 0;
    width: 100%; height: 3px;
    background: #1e1e1e;
  }

.b1 { height: 520px; margin-left: 32px; }
.b2 { height: 340px; margin-left: 12px; }   
.b3 { height: 280px; margin-left: 60px; }   
.b4 { height: 410px; margin-left: 18px; }   
.b5 { height: 300px; margin-left: 90px; }   
.b6 { height: 240px; margin-left: 14px; }
.b7 { height: 270px; margin-left: 10px; }
.b8 { height: 220px; margin-left: 110px; }

.hills {
    position: absolute;
    inset: 0;
  }
  
  
  .hill {
    position: absolute;
    border-radius: 50%
  }
  
  /* far hills  */
  .h1 {
    width: 62vw; 
    height: 62vw;
    left: -12vw; 
    bottom: -46vw;
    background: #6B9362;
    
  }
  .h2 {
    width: 48vw; 
    height: 48vw;
    left: 28vw; 
    bottom: -36vw;
    background:  #588B58;
    
  }
  
  /* near hills  */
  .h3 {
    width: 72vw; 
    height: 72vw;
    right: -18vw; 
    bottom: -53vw;
    background: #3E7046;
    
  }
  .h4 {
    width: 42vw;
     height: 42vw;
    left: 6vw; 
    bottom: -30vw;
    background: #295C38; 
    
  }