/* --- all --- */ 

*{
    margin: 0;
    box-sizing: border-box;
}

/* --- sky --- */ 

.scene { 
    position: relative;
    width: 100%;
    height: 100vh; 
    overflow: hidden;
}

/* --- background --- */ 

.sky{
    position: absolute;
    inset: 0;
    background: #0B486B;
    background: linear-gradient(
        to top,
        #0B486B,#F56217
    );
}

/* --- sun --- */ 
.sun{
    position:absolute;
    left: 75%;
    top: 10%;
    width: 200px;
    height: 200px;
    
    border-radius: 50%;
    background: radial-gradient(
    circle at 30% 30%, 
    #FA8607,  
    #FCB033,
    #FECC51
  );
}

/* --- buildings  --- */ 
.buildings{ 
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    padding: 0 2vw;
    z-index: 3;
    
    
}

.b1{
    position: relative;
    width: 100px;
    height: 500px;
    background: grey;
    box-shadow: 0 4px 10px rgba(0,0,0,0.4);
    border: 2px solid #0d0d10
}
.top-b1 {
    position: absolute;
    top: -82px;   
    left: 0;
    width: 100%; 
    height: 80px; 
    background: rgb(46, 46, 46);
    clip-path: polygon(50% 0%, 100% 100%, 0% 100%); 
} 

.b2{
    position: relative;
    width: 100px;
    height: 300px;
    background: grey;
    box-shadow: 0 4px 10px rgba(0,0,0,0.4);
    border: 2px solid #0d0d10
}
.b3{
    position: relative;
    width: 100px;
    height: 250px;
    background: grey;
    box-shadow: 0 4px 10px rgba(0,0,0,0.4);
    border: 2px solid #0d0d10
}

  